// Colors
$white          : white;
$grey           : #edeff2;
$dark-grey      : #414141;
$black          : #14181e;
$red            : #fb2c31;
$blue-grey      : #5b6c8c;
$purple         : #49144b;
$blue           : #2574fc;

// Shadows
$shadow-card    : 0 5px 8px rgba(0, 30, 85, .12), 0 1px 3px rgba(0, 30, 85, .08);
$shadow-center  : 0 0 4rem 0 rgba(50, 50, 95, 0.5);
$shadow-right   : 35px 50px 90px -25px rgba(50, 50, 95, 0.5), 20px 35px 75px -35px rgba(0, 0, 0, 0.5);

// Font Size
$smaller        : 1.4rem;
$larger         : 2rem;
$large          : 2.5rem;